body {
  background: 
    url('https://www.visitardenne.com/sites/default/files/styles/small_650x650/public/upload/destinations%20incontournables/forets/Foret_00_2012_Johan.Barrot_0.JPG?itok=nehq_hj9') no-repeat center top,
    linear-gradient(to right, rgb(0, 150, 0), rgb(0, 80, 0));
  
  background-size: 100% auto, cover;
  
  background-attachment: fixed, fixed;
  
  margin: 0;
  
  padding: 0 20px;
}

.title {
  color: white;
  text-shadow: -1px 5px 0 #000;
  font-size: 40px;
  text-align: center;
  font-family: monospace, helvetica, sans-serif;
  font-weight: bold;
  position: fixed;
  left: 100;
  top: 40px;
}

.sections {
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
  position: fixed;
  top: 30px;
}

#dag-1 {
  margin-right: 20px;
  background-color: rgba(0, 200, 0, 0.7);
  color: black;
  border-radius: 5px;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;
}

#dag-2 {
  margin-right: 20px;
  background-color: rgba(0, 200, 0, 0.7);
  color: black;
  border-radius: 5px;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;

}

#dag-3 {
  margin-right: 20px;
  background-color: rgba(0, 200, 0, 0.7);
  color: black;
  border-radius: 5px;
  font-size: 25px;
  text-decoration: none;
  padding: 5px;

}

.intro {
  font-size: 20px;
  text-align: center;
  padding: 0 20%;
  position: fixed;
  top: 200px;
  left: 0;
  
}

#intro {
  background-color: rgba(0, 128, 0, 0.7);
  margin-right: 20px;
  color: black;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
  position: fixed;
}
